<%- include('../layouts/header.ejs') %>

<div class="container" style="max-width:800px;">
  <p >Dear,<span class="fs-5 text-dark"></span><%=user.name%></span><span class="text-dark fs-6">         leave a review here </span></p>
  <% for(let i=0;i<order.products.item.length;i++){%>
<div class="alert alert-secondary alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 

 <div class="d-flex">
  <div>
  <img src="/admin/multer/img/<%=order.products.item[i].productId.image[0]%>"class="img-fluid" alt="lol" width="200px" height="200px" style="border:solid 2px black; border-radius:20px">
</div>

 <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, eveniet.</p> -->

  
  <div>
    <p class="text-dark ms-4 fs-5"><%=order.products.item[i].productId.name %></p>
   
     <textarea  class="ms-4" placeholder="leave a review here" id="<%=order.products.item[i].productId._id %>"></textarea><br>
     <button onclick="del('<%=order.products.item[i].productId._id%>',event)" class="btn btn-primary ms-4">Post review</button>

  </div>
</div>

</div>
<% } %>
<a href="userProfile"><button class="btn btn-primary">Go Back</button></a>
</div>


<script>
  function del(id,event){
    rev = document.getElementById(id).value
    id=id
    console.log(rev,id);
    var alertDiv = event.target.closest('.alert');
    alertDiv.parentNode.removeChild(alertDiv);

    $.ajax({
      url:'/postReview',
      type:'POST',
      data:{rev,id},
     
    })


    

  
  }

  
  </script>

<%- include('../layouts/footer.ejs') %>